/************* Claim Details *************/

#claim-section {
    margin-top: 50px;
}

.panel-primary {
    border: none;
    margin-top: 20px;
}

.summary-checkbox {
    margin-left: 10px;
}

.form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6 > input {
    float: right;
}

.nav-tabs {
  background-color: #4995cf;
}