/************* Search Claims Content *************/
.title-header {
    padding: 3px 0 5px;
    background: #4995cf;
    color: #fff;
    display: block;
    clear: both;
    text-align: center;
    font-size: 17px;
}
.form-control {
    margin-top: 8px;
}

.checkbox input {
    margin: 8px;
}

.spacer {
    margin-top: 40px;
}

.statusBtn {
    width: auto;
}